@import "ext/solarized-light";

div.highlighter-rouge {
  width: 100vw;
  position: relative;
  right: 150px;
  margin: 40px 0;
}

.highlight {
  background-color: #f4f4f4;
}

div.highlight {
  padding: 5px 150px;
}

// pre.highlight,
// code {
//   font-family: "Consolas", Menlo, monospace;
//   line-height: 1.2em;
//   tab-size: 4;
//   background-color: #f4f4f4;
// }

pre.highlight code {
  font-family: Monaco, monospace;
  line-height: 100%;
  background-color: #eee;
  padding: 0.2em;
  letter-spacing: -0.05em;
  word-break: normal;
}
